[package]
name = "crystal-config"
version = "0.1.0"
edition = "2021"

[dependencies]
serde.workspace = true
toml.workspace = true
anyhow.workspace = true
dirs = "6"
indexmap = { version = "2", features = ["serde"] }
