apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: kubetile-prod
  labels:
    app: kubetile-demo
    tier: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: kubetile-demo
      tier: frontend
  template:
    metadata:
      labels:
        app: kubetile-demo
        tier: frontend
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: kubetile-prod
spec:
  selector:
    app: kubetile-demo
    tier: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: kubetile-prod
  labels:
    app: kubetile-demo
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kubetile-demo
      tier: backend
  template:
    metadata:
      labels:
        app: kubetile-demo
        tier: backend
    spec:
      containers:
      - name: echo-server
        image: hashicorp/http-echo
        args:
        - "-text=hello-from-backend"
        ports:
        - containerPort: 5678
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: kubetile-prod
spec:
  selector:
    app: kubetile-demo
    tier: backend
  ports:
  - protocol: TCP
    port: 5678
    targetPort: 5678
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: kubetile-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cache
  template:
    metadata:
      labels:
        app: cache
    spec:
      containers:
      - name: redis
        image: redis:alpine
